body{
    background-color: #051622;
    background-size: cover;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #DEB992;
  }
  h1{
    font-size: 440%;
    position: relative;
    text-align: center;
    top: 50px;
  }
  